!!!
html
    head
        title= "Real time web chat example"
    body
        #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border:solid 5px red; overflow-y: scroll;')
        .controls
            input.field(style='width:350px;')
            input.send(type='button', value='send')
