doctype html
html(lang="en")
    head
        title= "Real time web chat"
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
    body
        #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border:solid 5px blue; overflow-y: scroll;')
        .controls
            input#field(style='width:350px;')
            input#send(type='button', value='send' style='width:150px')
